
@media screen and (max-width:115px) {
    .cardImg{
        height:1%;
        width: 10%;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .cardWrapper{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .cardLink{
        display: flex;
        flex-direction: column;
        color: black;
        text-decoration: none;
        justify-content: space-between;
    }
    .left{
        width: 100%;
        margin: auto;
    }
    .cardImg{
        height:100%;
        width: 100%;
        border-radius: 1rem;
    }
    .title{
        font-size: smaller;
        font-weight: 300;
    }
}
@media screen and (min-width: 900px) {
    .cardWrapper{
        width: 70vw;
    }
    .cardImg{
        height:200px;
        width: 300px;
        border-radius: 1rem;
    }
}
.cardWrapper{
    width: 70vw;
    overflow: hidden;
    margin: auto;
    background: azure;
    /* list-style: none; */
    padding: 15px;
    /* background: #b6dede; */
    margin-bottom: 10px;
    border-radius: 1rem;
    box-shadow: #8f8d8f 3px 4px 5px -1px;
}
/* .cardImg{
    height:200px;
    width: 300px;
    border-radius: 1rem;
} */
.title{
    font-size: large;
    font-style: revert;
    font-weight: 600;
    text-transform: capitalize;
    flex-wrap: wrap;
}
.SrcDate{
    display: flex;
    justify-content: space-between;
}

.Bottom{
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.title:hover{
    color: blue;
    text-decoration: underline;
}

.cardLink{
    display: flex;
    color: black;
    text-decoration: none;
    justify-content: space-between;
}
.left{
    height: 200px;
    width: 300px;
}
.right{
    text-align: center;
    padding: 0px 10px;
}

.cardUl{
    list-style: none;
    /* background: #dfeded; */
    opacity: 0.6;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.favContainer{
    padding: 0;
    margin: 0;
    margin-left: 90%;
}
.favContainer img{
    width: 40px;
    padding: 0%;
    margin: 0;
}